@using WebAppClients.MVC.Service
@{
    ViewData["Title"] = Config.CompanyName;
}

<div class="text-center">
    <img src="https://storage1b.censor.net/images/3/d/2/8/3d28cf1494e1ca60eb1c1b57f0b296fb/original.jpg">
</div>
